table
        {
            border-collapse: collapse;
        }
        td,th
        {
            border: 1px solid black;
        }

.flag{
    height: 100px;
    width: 100%;
}

.jcvd-content{
    text-align: justify;
}